<!--<ul>-->
  <!--<li><a routerLink="clients" href="#home">Klienci</a></li>-->
  <!--<li><a routerLink="add" >Dodaj Klienta</a></li>-->
  <!--<li><a routerLink="contracts" >Umowy</a></li>-->
<!--</ul>-->

<nav class="nav nav-pills flex-column flex-sm-row">
  <a routerLinkActive="active" routerLink="clients" class="flex-sm-fill text-sm-center nav-link " href="#">Klienci</a>
  <a routerLinkActive="active" routerLink="add" class="flex-sm-fill text-sm-center nav-link" href="#">Dodaj Klienta</a>
  <a routerLinkActive="active" routerLink="contracts" class="flex-sm-fill text-sm-center nav-link" href="#">Umowa</a>
</nav>

