<div class="container">
  <div class="row">
    <form action="">
      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Imie i Nazwisko</span>
            </div>
            <input [(ngModel)]="imie" type="text" name="imie" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Adress</span>
            </div>
            <input [(ngModel)]="adres" type="text" name="adres" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Opis</span>
            </div>
            <input [(ngModel)]="opis" type="text" name="opis" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Wiek</span>
            </div>
            <input [(ngModel)]="wiek" type="text" name="wiek" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control" name="type" [(ngModel)]="type">
            <option [value]="CustomerType.Standard">Standard </option>
            <option [value]="CustomerType.Premium">Premium </option>
            <option [value]="CustomerType.VIP">Vip </option>
          </select>
        </div>
      </div>
    </form>

  </div>
  <div class="row">
    <button class="btn btn-info" (click)="add()"> DODAJ </button>
  </div>


</div>
