<div class="container" *ngIf="contractDetails">
    <div class = "panel panel-default">
        <div class ="panel-heading">Contract Details</div>
        
        <ul class = "list-group">
           <li class = "list-group-item"><strong>Imie:</strong> {{contractDetails.customerName}}</li>
           <li class = "list-group-item"><strong>Wartość:</strong>{{contractDetails.value}}</li>
           <li class = "list-group-item"><strong>Data:</strong>{{contractDetails.date}}</li>
        </ul>
      
     </div>
  </div>