<div class="jumbotron">
  <div class="container" *ngIf="customer">
    <div class="row">
      <div class="col-md-4">
        <strong> Imie i Nazwisko </strong> {{ customer.name }}
      </div>
      <div class="col-md-4">
        <strong> Wiek </strong> {{ customer.age }}
      </div>
      <div class="col-md-4">
        <img src="{{ customer.photoUrl }}">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Opis </strong> {{ customer.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Ulica </strong> : {{customer.address.street }}
        <br>
        <strong> Nr</strong> : {{customer.address.houseNumber }}
        <br>
        <strong> Miasto</strong> : {{customer.address.city }}
      </div>
    </div>

    <div> {{ counter }}</div>
  </div>
</div>
